* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p , span{
    text-align: justify;
    color: #59555D;
}
img {
    height: 250px;
    width: 250px;
}

.logo {
        width: 60px !important;
        height: auto;
        margin-bottom: 2%;
}

.mainWrapper {
    width: 100%;
}
.innerWrapper {
    width: 70% !important;
    margin: 0 auto;
    margin-top: 15%;
}
.bodyAndNavBarWrapper {
    display : flex;
}
.navBarText {
    display: block;
    /* text-align: right; */
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 2%;
}
nav {
    text-align: right;
    padding-right: 3%;
}

.colorOne {
    color: #f37f12
}
.colorOne:hover {
    color: #88511F
}
.colorTwo {
    color: #011b0b
}
.colorTwo:hover {
    color: #2C6542
}
.colorThree {
    color: #0e40d6
}
.colorThree:hover {
    color: #4F64A3
}

.colorFour {
    color: #080113
}
.colorFour:hover {
    color: #55299A
}
.colorFive {
    color: #db1818
}
.colorFive:hover {
    color: #974747
}

.col_grey {
    color: #59555D !important
}
.btnOne {
    display: inline-block;
        padding: 9px;
        background: #85878C;
        text-decoration: none;
        color: black;
        border-radius: 7px;
}
.sectionTwoButton {
        margin-right: 4%;
}
.flex {
    display: flex
}

.sectionThreeList {
    margin-left: 10%;
}
.sectionTenProfileWrap {
        display: flex;
            flex-flow: row wrap;
}

.sectionTenProfileWrap {
    padding: 5px;
}
.sectionTenProfilePicture {
    border-radius: 50%;
    border: 1px dashed black;
    width: 75px;
    height: auto;
}
.sectionTenProfileName {
    text-align: center;
}
.sylabuFlex {
    display: flex;
        justify-content: space-between;
}

.btnTwo {
    display: inline-block;
        padding: 9px;
        background: #C4B5FD;
        text-decoration: none;
        color: black;
        border-radius: 7px;
}
.btnThree {
    display: inline-block;
        padding: 9px;
        background: #93C5FD;
        text-decoration: none;
        color: black;
        border-radius: 7px;
}

.btnFour {
    display: inline-block;
        padding: 9px;
        background: #FCA5A5;
        text-decoration: none;
        color: black;
        border-radius: 7px;
}

.btnFive {
    display: inline-block;
        padding: 9px;
        background: #86EFAC;
        text-decoration: none;
        color: black;
        border-radius: 7px;
}
.textCol {
    color: #1F2971;
}

.mb-1 {
    margin-bottom:1%;
}
.mbt-2 {
    margin-top: 2% !important;
    margin-bottom: 2% !important ;
}
.mb-2 {
    margin-bottom: 15%!important;
}
.mbt-3 {
    margin-top: 5% !important;
        margin-bottom: 4% !important;
}